## - 1.0.58: readfile() utf-9 fix
swivel-common@git+ssh://lib-py-common.github.com/swivelsoftware/lib-py-common.git@1.0.58

pandas~=3.0.3

## async http request
## NOTE: swivel common comes with aiohttp
#aiohttp~=3.14.1

## playwright pytest
pytest-playwright~=0.8.0

## .env
## NOTE: swivel common comes with python-dotenv
#python-dotenv~=1.2.2