"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
## fix the HOME/END key issue using xterm
"\e[1~": beginning-of-line
"\e[4~": end-of-line
## enable 
set enable-bracketed-paste off

